div.section-2 {
	display: flex;
	gap: 56px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--light-gray);
	padding-top: 64px;
	padding-bottom: 64px;

	& > div {
		display: flex;
		align-items: center;
		flex-direction: column;
		max-width: 280px;
		min-width: 160px;
		gap: 22px;

		span {
			font-size: 24px;
			color: var(--yellow);
		}

		p {
			text-align: center;
		}
	}
}

@media (min-width: 1000px) {
	div.section-2 {
		flex-direction: row;
		justify-content: space-around;

		& > div {
			span {
				font-size: 28px;
			}

			p {
				font-size: 18.4px;
			}
		}
	}
}

/**/

div.section-3 {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;

	& > div:first-of-type {
		display: flex;
		flex-direction: column;
		gap: 48px;
		margin-top: 12px;
		margin-bottom: 12px;

		div {
			max-width: 440px;

			h3 {
				color: var(--red);
				margin-bottom: 14.4px;
			}
		}
	}
}

@media (min-width: 900px) {
	div.section-3 {
		& > div:first-of-type {
			display: grid;
			gap: 56px;
			grid-template-columns: auto auto;

			div {
				margin-bottom: 0px;
			}
		}
	}
}

@media (min-width: 1450px) {
	div.section-3 {
		& > div:first-of-type {
			padding: 0px 64px;
		}
	}
}

/**/

div.section-4__slider {
	display: flex;
	width: 100vw;
	position: relative;
	overflow: hidden;

	& > div:first-of-type {
		transform: translate(-12%);
		left: 0px;
	}

	& > div:last-of-type {
		transform: translate(12%);
		right: 0px;
	}

	& > div:first-of-type,
	& > div:last-of-type {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 18%;

		button {
			display: flex;
			justify-content: center;
			align-items: center;
			color: var(--red);
			border-radius: 100%;
			background-color: white;
			width: 28px;
			height: 28px;

			i {
				font-size: 40px;
			}
		}
	}

	& > div:nth-of-type(2) {
		display: flex;
		gap: 100vw;
		width: 100vw;
		overflow: scroll;

		& > div {
			flex-shrink: 0;
			display: flex;
			width: 100%;

			& > div {
				overflow: auto;
				border-radius: 8px;
				border: 1px solid var(--gray);
				width: 100%;

				img {
					width: 100%;
				}

				div {
					padding: 24px;

					h3 {
						margin-bottom: 8px;
					}
				}
			}
		}
	}
}

/**/

div.section-5 {
	& > div {
		background-color: var(--red);
		padding-top: 112px;
		padding-bottom: 112px;

		& > div:first-of-type {
			display: flex;
			justify-content: center;

			h2 {
				max-width: 800px;
				text-align: center;
				color: white;
			}
		}

		& > div:last-of-type {
			display: grid;
			grid-template-columns: auto;
			gap: 64px;
			margin-top: 64px;

			div {
				overflow: hidden;
				text-align: center;

				h2 {
					transform: scale(120%, 120%);
					margin-bottom: 12px;
					color: white;
				}

				p {
					color: var(--yellow);
					font-size: 19.2px;
				}
			}
		}
	}
}

@media (min-width: 1300px) {
	div.section-5 {
		& > div {
			& > div:last-of-type {
				margin-top: 80px;
				grid-template-columns: 33.33% 33.33% 33.33%;
				gap: 32px;
			}
		}
	}
}

/**/

div.section-6 {
	& > div {
		display: flex;
		flex-direction: column;
		gap: 14.4px;

		& > div {
			&.--open {
				button {
					i {
						transform: rotate(-180deg);
					}
				}
			}

			border-radius: 8px;
			border: 2px solid var(--red);
			display: flex;
			flex-direction: column;

			button {
				width: 100%;
				display: flex;
				justify-content: space-between;
				font-weight: bold;
				align-items: center;
				font-size: 18.4px;
				padding: 24px;
				color: var(--red);

				i {
					transition: ease-in-out 0.5s;
				}
			}

			& > div {
				transition: ease-in-out 0.5s;
				overflow: hidden;

				div {
					padding: 0px 24px 24px 24px;

					span {
						display: flex;
						flex-direction: column;
						gap: 14.4px;
						background-color: var(--light-gray);
						padding: 24px;
						border-radius: 8px;
					}
				}
			}
		}
	}
}

@media (min-width: 1000px) {
	div.section-6 {
		& > div {
			padding: 0px 40px;

			& > div {
				button {
					padding: 32px;
					font-size: 20px;
				}

				& > div {
					div {
						padding: 0px 32px 32px 32px;

						span {
							padding: 32px;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 1300px) {
	div.section-6 {
		& > div {
			padding: 0px 96px;

			& > div {
				button {
					font-size: 22px;
				}
			}
		}
	}
}

@media (min-width: 1920px) {
	div.section-6 {
		& > div {
			padding: 0px 136px;
		}
	}
}

/**/

div.section-7 {
	& > div {
		& > form {
			& > div:first-of-type {
				display: flex;
				flex-direction: column;
				gap: 24px;

				& > div:first-of-type {
					display: flex;
					flex-direction: column;
					gap: 24px;
				}

				div.section-7__input-container {
					width: 100%;
					display: flex;
					flex-direction: column;
					gap: 8px;

					label {
						padding-left: 8px;
						font-size: 17.6;
					}
				}
			}

			& > div:last-of-type {
				display: flex;
				justify-content: center;

				div {
					width: 100%;
					max-width: 400px;
				}
			}
		}
	}
}

@media (min-width: 900px) {
	div.section-7 {
		& > div {
			& > form {
				& > div:first-of-type {
					& > div:first-of-type {
						flex-direction: row;
					}
				}
			}
		}
	}
}
