div.section-2 {
  display: flex;
  gap: 56px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light-gray);
  padding-top: 64px;
  padding-bottom: 64px;
}
div.section-2 > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 280px;
  min-width: 160px;
  gap: 22px;
}
div.section-2 > div span {
  font-size: 24px;
  color: var(--yellow);
}
div.section-2 > div p {
  text-align: center;
}

@media (min-width: 1000px) {
  div.section-2 {
    flex-direction: row;
    justify-content: space-around;
  }
  div.section-2 > div span {
    font-size: 28px;
  }
  div.section-2 > div p {
    font-size: 18.4px;
  }
}
/**/
div.default-section > h2 {
  text-align: center;
  margin-bottom: 56px;
}

@media (min-width: 1300px) {
  div.default-section > h2 {
    margin-bottom: 72px;
  }
}
/**/
div.section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
div.section-3 > div:first-of-type {
  margin-top: 12px;
  margin-bottom: 12px;
}
div.section-3 > div:first-of-type div {
  max-width: 440px;
  margin-bottom: 48px;
}
div.section-3 > div:first-of-type div h3 {
  color: var(--red);
  margin-bottom: 14.4px;
}
div.section-3 > div:last-of-type {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

@media (min-width: 900px) {
  div.section-3 > div:first-of-type {
    display: grid;
    gap: 56px;
    grid-template-columns: auto auto;
  }
  div.section-3 > div:first-of-type div {
    margin-bottom: 0px;
  }
}
@media (min-width: 1450px) {
  div.section-3 > div:first-of-type {
    padding: 0px 64px;
  }
}
/**/
div.section-4 > div {
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
  overflow: scroll;
}
div.section-4 > div > div {
  display: flex;
  gap: 28px;
  flex-shrink: 0;
  width: 100vw;
  min-width: 1000px;
}
div.section-4 > div > div div.section-4__button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
div.section-4 > div > div div.section-4__button-container button {
  font-size: 28px;
  color: var(--red);
}
div.section-4 > div > div div.section-4__service-container {
  width: 100%;
  border: 1px solid var(--gray);
  border-radius: 8px;
  overflow: hidden;
}
div.section-4 > div > div div.section-4__service-container img {
  width: 100%;
}
div.section-4 > div > div div.section-4__service-container div {
  padding: 24px;
}
div.section-4 > div > div div.section-4__service-container div h3 {
  margin-bottom: 8px;
}

/**/
div.section-5 > div {
  background-color: var(--red);
  padding-top: 112px;
  padding-bottom: 112px;
}
div.section-5 > div > div:first-of-type {
  display: flex;
  justify-content: center;
}
div.section-5 > div > div:first-of-type h2 {
  max-width: 800px;
  text-align: center;
  color: white;
}
div.section-5 > div > div:last-of-type {
  display: grid;
  grid-template-columns: auto;
  gap: 64px;
  margin-top: 64px;
}
div.section-5 > div > div:last-of-type div {
  overflow: hidden;
  text-align: center;
}
div.section-5 > div > div:last-of-type div h2 {
  transform: scale(120%, 120%);
  margin-bottom: 12px;
  color: white;
}
div.section-5 > div > div:last-of-type div p {
  color: var(--yellow);
  font-size: 19.2px;
}

@media (min-width: 1300px) {
  div.section-5 > div > div:last-of-type {
    margin-top: 80px;
    grid-template-columns: 33.33% 33.33% 33.33%;
    gap: 32px;
  }
}
/**/
div.section-6 > div {
  display: flex;
  flex-direction: column;
  gap: 14.4px;
}
div.section-6 > div > div {
  padding-bottom: 24px;
  border-radius: 8px;
  border: 2px solid var(--red);
  display: flex;
  flex-direction: column;
}
div.section-6 > div > div.--open button i {
  transform: rotate(-180deg);
}
div.section-6 > div > div button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  align-items: center;
  font-size: 18.4px;
  padding: 24px 24px 0px 24px;
  color: var(--red);
}
div.section-6 > div > div button i {
  transition: ease-in-out 0.5s;
}
div.section-6 > div > div > div {
  transition: ease-in-out 0.5s;
  overflow: hidden;
}
div.section-6 > div > div > div div {
  margin-top: 28px;
  padding: 0px 24px;
}
div.section-6 > div > div > div div span {
  display: flex;
  flex-direction: column;
  gap: 14.4px;
  background-color: var(--light-gray);
  padding: 24px;
  border-radius: 8px;
}

@media (min-width: 1000px) {
  div.section-6 > div {
    padding: 0px 40px;
  }
  div.section-6 > div > div {
    padding-bottom: 32px;
  }
  div.section-6 > div > div button {
    padding: 32px 32px 0px 32px;
    font-size: 20px;
  }
  div.section-6 > div > div > div div {
    padding: 0px 32px;
  }
  div.section-6 > div > div > div div span {
    padding: 32px;
  }
}
@media (min-width: 1300px) {
  div.section-6 > div {
    padding: 0px 96px;
  }
  div.section-6 > div > div button {
    font-size: 22px;
  }
}
@media (min-width: 1920px) {
  div.section-6 > div {
    padding: 0px 136px;
  }
}
/**/
div.section-7 > div > form > div:first-of-type {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
div.section-7 > div > form > div:first-of-type > div:first-of-type {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
div.section-7 > div > form > div:first-of-type div.section-7__input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
div.section-7 > div > form > div:first-of-type div.section-7__input-container label {
  padding-left: 8px;
  font-size: 17.6;
}
div.section-7 > div > form > div:last-of-type {
  display: flex;
  justify-content: center;
}
div.section-7 > div > form > div:last-of-type div {
  width: 100%;
  max-width: 400px;
}

@media (min-width: 900px) {
  div.section-7 > div > form > div:first-of-type > div:first-of-type {
    flex-direction: row;
  }
}

/*# sourceMappingURL=main.css.map */
