<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!--icon-->
    <link
      rel="shortcut icon"
      href="./assets/images/icon/icon.png"
      type="image/x-icon"
    />

    <!--title-->
    <title>Trail Life</title>

    <!--description-->
    <meta
      name="description"
      content="Na estrada da confiança, a TL transportadora entrega qualidade e eficiência em cada quilômetro percorrido."
    />

    <!--font-->
    <!--Fira-Sans-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!--scripts-->
    <script defer src="./scripts/header.js"></script>
    <script defer src="./scripts/main.js"></script>

    <!--styles-->
    <link rel="stylesheet" href="./styles/index/index.css" />
    <link rel="stylesheet" href="./styles/styles/styles.css" />
    <link rel="stylesheet" href="./styles/controller/controller.css" />
    <link rel="stylesheet" href="./styles/header/header.css" />
    <link rel="stylesheet" href="./styles/main/main.css" />

    <!--font-awesome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header>
      <div class="global__hrz-padding">
        <div>
          <a href="/">
            <img src="./assets/images/logo/logo.png" alt="Trail Life Logo" />
          </a>
          <button mobile-header-menu-button--full>
            <i class="fa-solid fa-bars"></i>
          </button>
          <ul>
            <li>
              <a href="#"> Demanda </a>
            </li>
            <li>
              <a href="#"> Serviços </a>
            </li>
            <li>
              <a href="#"> Funcionalidades </a>
            </li>
            <li>
              <a href="#"> Demanda </a>
            </li>
          </ul>
        </div>
        <div mobile-header-menu>
          <div>
            <ul>
              <li>
                <a href="#">
                  <i class="fa-solid fa-chart-simple"></i>
                  Demanda
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa-solid fa-truck-fast"></i>
                  Serviços
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa-solid fa-chart-simple"></i>
                  Funcionalidades
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa-solid fa-gears"></i>
                  Demanda
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <button mobile-header-menu-button--close class="--off"></button>
    <main>
      <div section-1 class="section-1">
        <div
          section-1-container
          style="background-color: blue"
          class="section-1__container"
        ></div>
        <div
          section-1-container
          style="background-color: pink"
          class="section-1__container"
        ></div>
        <div
          section-1-container
          style="background-color: green"
          class="section-1__container"
        ></div>
        <div class="section-1__controller global__hrz-padding">
          <button class="--off">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              class="bi bi-arrow-left-circle"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
              />
            </svg>
          </button>
          <button>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              class="bi bi-arrow-right-circle"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
              />
            </svg>
          </button>
        </div>
      </div>
      <div class="global__hrz-padding section-2">
        <div>
          <span>
            <i class="fa-solid fa-globe"></i>
          </span>
          <p>Ampla rede de destinos</p>
        </div>
        <div>
          <span>
            <i class="fa-solid fa-star"></i>
          </span>
          <p>Oferecemos nosso suporte técnico especializado</p>
        </div>
        <div>
          <span>
            <i class="fa-solid fa-tv"></i>
          </span>
          <p>Acesse de qualquer lugar</p>
        </div>
      </div>
      <div class="global__hrz-padding default-section section-3">
        <h2 class="global__font-size-controller">Atendemos a sua demanda</h2>
        <div>
          <!---->
          <div>
            <h3 class="global__font-size-controller">
              <i class="fa-solid fa-snowflake"></i>
              Transportes refrigerados
            </h3>
            <p>
              Conformidade, monitoramento em tempo real e suporte especializado
              garantem a entrega segura de produtos sensíveis à temperatura.
            </p>
          </div>
          <div>
            <h3 class="global__font-size-controller">
              <i class="fa-solid fa-truck"></i>
              Logística integrada
            </h3>
            <p>
              Oferecemos armazenamento, gerenciamento de estoque e distribuição
              personalizados, impulsionados pela tecnologia para otimização e
              economia.
            </p>
          </div>
          <div>
            <h3 class="global__font-size-controller">
              <i class="fa-solid fa-circle-exclamation"></i>
              Cargas perigosas
            </h3>
            <p>
              Oferecemos segurança absoluta, conformidade rigorosa e expertise
              em transporte de produtos químicos e materiais inflamáveis.
            </p>
          </div>
          <div>
            <h3 class="global__font-size-controller">
              <i class="fa-solid fa-location-dot"></i>
              Rastreamento e visibilidade
            </h3>
            <p>
              Monitore localização, condições e status das remessas para
              otimizar a logística, garantir entregas pontuais e tomar decisões
              informadas.
            </p>
          </div>
        </div>
        <div>
          <a class="default-button default-button-margin --red-button" href="#">
            Default
          </a>
        </div>
      </div>
      <div class="default-section section-4">
        <div class="global__hrz-padding">
          <div>
            <h2 class="global__font-size-controller">
              Comprometimento é o que move a nossa logística e provamos isso em
              números.
            </h2>
          </div>
          <div>
            <div>
              <h2 class="global__font-size-controller">+4 mil</h2>
              <p>Clientes</p>
            </div>
            <div>
              <h2 class="global__font-size-controller">+4.26 mil</h2>
              <p>Cidades atendidas</p>
            </div>
            <div>
              <h2 class="global__font-size-controller">+71.7</h2>
              <p>
                MM de pedidos <br />
                entregues* (2T22 LMT)
              </p>
            </div>
            <div>
              <h2 class="global__font-size-controller">+96%</h2>
              <p>
                De nível de serviço <br />
                médio
              </p>
            </div>
            <div>
              <h2 class="global__font-size-controller">+14 mil</h2>
              <p>Colaboradores</p>
            </div>
            <div>
              <h2 class="global__font-size-controller">+50</h2>
              <p>Bases próprias</p>
            </div>
          </div>
        </div>
      </div>
      <div class="global__hrz-padding default-section section-7">
        <h2 class="global__font-size-controller">Entre em Contato</h2>
        <div>
          <form email-form>
            <div>
              <div>
                <div class="section-7__input-container">
                  <label for="email-form-name">Nome:</label>
                  <div class="default-input">
                    <input
                      placeholder="Nome"
                      type="text"
                      name="name"
                      id="email-form-name"
                    />
                  </div>
                </div>
                <div class="section-7__input-container">
                  <label for="email-form-phone">Celular:</label>
                  <div class="default-input">
                    <input
                      phone-input
                      placeholder="+55 (99) 9999-99999"
                      type="text"
                      name="phone"
                      id="email-form-phone"
                    />
                  </div>
                </div>
              </div>
              <div class="section-7__input-container">
                <label for="email-form-email">Email:</label>
                <div class="default-input">
                  <input
                    placeholder="xxx@x.com"
                    type="text"
                    name="email"
                    id="email-form-email"
                  />
                </div>
              </div>
              <div class="section-7__input-container">
                <label for="email-form-message">Mensagem:</label>
                <div class="default-input">
                  <textarea
                    placeholder="Mensagem"
                    name="message"
                    id="email-form-message"
                  ></textarea>
                </div>
              </div>
            </div>
            <div>
              <div>
                <button
                  class="default-button default-button-margin --red-button"
                >
                  Enviar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
