<p>
	Prezada Equipe,<br />
	<br />
	Espero que estejam bem. Gostaria de compartilhar algumas informações sobre um
	novo cliente em potencial que demonstrou interesse em nossos serviços.<br />
	<br />
	Aqui estão os detalhes iniciais:<br />
	<br />
	Nome do Cliente: !name!<br />
	Número de Telefone: !phone!<br />
	Endereço de Email: !email!<br />
	Necessidades: !message!<br />
	<br />
	Estamos entusiasmados com a oportunidade de colaborar e estamos à disposição
	para discutir mais detalhes ou agendar uma reunião para explorar como podemos
	atender às necessidades do cliente da melhor forma possível.<br />
	<br />
	Aguardamos o feedback da equipe e ficamos à disposição para qualquer
	esclarecimento adicional.<br />
</p>
