<p>Prezada Equipe,</p>
<p>
	Espero que estejam bem. Gostaria de compartilhar algumas informações sobre um
	novo cliente em potencial que demonstrou interesse em nossos serviços.
</p>
<p>Aqui estão os detalhes iniciais:</p>
<p>Nome do Cliente: !name!</p>
<p>Número de Telefone: !phone!</p>
<p>Endereço de Email: !email!</p>
<p>Necessidades: !message!</p>
<p>
	Estamos entusiasmados com a oportunidade de colaborar e estamos à disposição
	para discutir mais detalhes ou agendar uma reunião para explorar como podemos
	atender às necessidades do cliente da melhor forma possível.
</p>
<p>
	Aguardamos o feedback da equipe e ficamos à disposição para qualquer
	esclarecimento adicional.
</p>
