header {
  z-index: 3;
  width: 100%;
  background: white;
  position: fixed;
  top: 0px;
  left: 0px;

  & > div:first-of-type {
    padding-top: 28px;
    padding-bottom: 24px;
    border-bottom: solid 4px var(--red);

    & > div:first-of-type {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > a:first-of-type {
        img {
          height: 28px;
        }
      }

      & > button:first-of-type {
        color: var(--red);
        font-size: 22.4px;
      }
    }

    & > div:nth-of-type(2) {
      height: 0px;
      overflow: hidden;
      transition: ease-in-out 0.35s;
      position: relative;

      & > div {
        padding: 28px 4px 0px 4px;

        ul {
          display: flex;
          flex-direction: column;
          gap: 18.4px;

          li {
            a {
              &:hover {
                color: var(--red);
              }

              font-weight: 500;
              color: var(--dark-gray);
              transition: ease-in-out 0.35s;
              font-size: 16.8px;

              i {
                width: 28px;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}

button[mobile-header-menu-button--close] {
  &.--off {
    pointer-events: none;
    filter: opacity(0%);
  }

  width: 100vw;
  height: 100vh;
  filter: opacity(40%);
  background-color: black;
  position: absolute;
  transition: ease-in-out 0.35s;
}
