:root {
	--red: #b20c30;
	--yellow: #ff9900;
	--light-gray: #f2f2f2;
	--gray: #9a9595;
	--dark-gray: rgb(51, 51, 51);
}

a.default-logo {
	display: block;

	img {
		height: 24px;
	}
}

@media (min-width: 375px) {
	a.default-logo {
		img {
			height: 28px;
		}
	}
}

@media (min-width: 375px) {
	a.default-logo {
		img {
			height: 32px;
		}
	}
}

/**/

.section-separator {
	margin-top: 144px;
}

@media (min-width: 1300px) {
	.section-separator {
		margin-top: 180px;
	}
}

/**/

$colors: (
	red: var(--red),
	yellow: var(--yellow),
);

@each $color, $value in $colors {
	.--#{$color}-button {
		&:hover {
			background-color: var(--#{$color});
			color: white;
		}

		background-color: transparent;
		color: var(--#{$color});
		border: 2px solid var(--#{$color});
		transition: ease-in-out 0.35s;

		transition: ease-in-out 0.35s;
	}
}

.default-button {
	width: 100%;
	border-radius: 8px;
	padding: 16px 24px;
	font-size: 18.4px;
	font-weight: light;
	margin-top: 32px;
	text-align: center;
}

@media (min-width: 900px) {
	.default-button-margin {
		margin-top: 56px;
		font-size: 20px;
	}
}

/**/

div.default-input {
	width: 100%;

	input,
	textarea {
		width: 100%;
		max-width: 100%;
		min-width: 100%;
		border-radius: 8px;
		padding: 16px;
		border: 1px solid var(--gray);
		font-size: 16px;
		padding: 16px;
	}

	textarea {
		min-height: 120px;
	}
}
